@import "../../../styles/variable.module.scss";

.user {
  width: 100%;

  .content-wrap {
    .content {
      padding: 32px 32px 0 32px;

      .row-cus {
        display: flex;
        .form-cus {
          display: flex;
          justify-content: space-between;
        }
      }

      .pagination-cus {
        position: absolute;
        bottom: 10px;
        left: 50%;
      }

      .content-table {
        .icon-edit {
          cursor: pointer;
          color: $blue-color;
        }
        .icon-delete {
          color: rgb(255, 77, 79);
        }
      }
    }
  }
}
