@import "../../../styles/variable.module.scss";

.statistical {
  width: 100%;

  .pagination-cus {
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .layout-content-cus {
    height: calc(100vh - 65px - 65px);

    .content-wrap {
      .content {
        padding: 32px 32px 0 32px;
      }
    }
  }
}
