@import "../../styles/variable.module.scss";

.login {
  margin: 20px 0;
  .text-register {
    line-height: 1.8;
    span {
      font-size: 1.4rem;
      color: #13283f99;
      margin-right: 4px;
    }
    a {
      color: $green-color;
      font-weight: 700;
      &:hover {
        color: $text-category;
      }
    }
  }
}
