.header {
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 65px;
  box-shadow: 0 0 4px 4px rgb(0 0 0 / 8%);
  padding: 0 32px;

  span {
    text-transform: uppercase;
    font-size: 2rem;
    color: #545454;
    font-weight: bold;
  }

  .account {
    width: 170px;
    color: #fff;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    &:hover {
      .profile {
        display: flex;
      }
    }
    cursor: pointer;
    span {
      display: block;
      padding: 0;
      margin: 0;

      ::after {
        display: block;
        position: absolute;
        top: 40px;
        content: "";
        width: 170px;
        height: 10px;
        background: transparent;
      }
    }
    .profile {
      z-index: 1;
      position: absolute;
      width: 170px;
      background: #fff;
      box-shadow: 0 0 4px 4px rgb(0 0 0 / 8%);
      display: none;
      flex-direction: column;
      align-items: center;
      top: 50px;
      right: 32px;
      a {
        padding: 6px 0;
      }
    }
  }
}
