@import "../../../styles/variable.module.scss";

.wrap {
  background: #001529;
  min-height: 100vh;
  .menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    li {
      margin-top: 0;
    }
  }
  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    border-bottom: 1px solid $blue-color;

    span {
      color: $white-color;
      font-size: 2rem;
    }
    img {
      margin-left: 10px;
    }
  }
}
