.register {
  margin: 20px 0;
  .container {
    width: 500px;
    margin: 0 auto;
    background: #f9f9f9;
    padding: 60px 40px;
    .title {
      text-align: center;
      margin-bottom: 30px;
    }
    .group-input {
    }
  }
}
