@import "../../../../styles/variable.module.scss";
@import "../../../../styles/mixin.module.scss";
.header-top {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  .left {
    .language {
      &:hover {
        opacity: 1;
        .wrap-language {
          display: block;
        }
      }

      display: flex;
      align-items: center;
      color: $white-color;
      font-size: 1.3rem;
      cursor: pointer;
      .text-language {
        margin-left: 10px;

        .icon {
          margin-left: 6px;
          font-size: 1rem;
        }
      }

      .wrap-language {
        z-index: 10;
        position: absolute;
        display: none;
        top: 30px;
        @include animation(language, 0.3s, ease-in, 1);
        @include keyframes(language) {
          0% {
            opacity: 0;
          }

          100% {
            opacity: 1;
          }
        }
        .arrow-up {
          margin-left: 50px;
          width: 0;
          height: 0;
          border-left: 10px solid transparent;
          border-right: 10px solid transparent;
          border-bottom: 10px solid $white-color;
        }
      }
    }
  }

  .right {
    display: flex;
    align-items: center;

    .account {
      &:hover {
        .wrap-account {
          display: block;
        }
      }
    }

    .account,
    .stores {
      cursor: pointer;
      .text {
        display: flex;
        align-items: center;
        color: $white-color;
        font-size: 1.3rem;
        opacity: 0.8;

        .icon {
          margin-left: 6px;
          font-size: 1rem;
        }
      }

      .wrap-account {
        display: none;
        z-index: 10;
        position: absolute;
        @include animation(account, 0.3s, ease-in, 1);
        @include keyframes(account) {
          0% {
            opacity: 0;
          }

          100% {
            opacity: 1;
          }
        }

        .arrow-custom {
          margin-left: 30px;
          border-left: 8px solid transparent !important;
          border-right: 8px solid transparent !important;
          border-bottom: 8px solid $white-color !important;
        }
      }
    }

    .stores {
      margin-left: 20px;

      .text {
        .icon {
          width: 20px;
          height: 20px;
        }
      }
    }
  }
}
