@import "./variable.module.scss";
@import "./mixin.module.scss";

.p-50 {
  padding: 0 50px;

  @include tablet {
    padding: 0 20px;
  }

  @include mobile {
    padding: 0 20px;
    margin: 0;
  }
}

.p-100 {
  padding: 0 100px;

  @include tablet {
    padding: 0 50px;
  }
}

.ant-drawer-title {
  text-align: center !important;
  font-size: 2.4rem !important;
  font-weight: bold !important;
}

// hover header language and account home page
.arrow-up {
  margin-left: 108px;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid $white-color;
}

.block-hover {
  background: $white-color;
  width: 160px;
  padding: 10px;

  .block-child {
    margin: 0 0 6px 0;
    position: relative;

    &:hover {
      opacity: 1;
      color: $green-color;
    }

    display: flex;
    align-items: center;
    font-size: 1.3rem;
    opacity: 0.8;
    cursor: pointer;
    .text-block {
      margin-left: 10px;
      color: $black-color;

      &:hover {
        opacity: 1;
        color: $green-color;
      }

      .icon {
        margin-left: 6px;
        font-size: 1rem;
      }
    }

    .text {
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      &:hover {
        opacity: 1;
        color: $green-color;
      }
    }
  }
}

//hover btn text home page
.btn-common {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 20px;
  background: $white-color;
  font-size: 1.4rem;

  a {
    color: $black-color;
  }

  &:hover {
    background: $hover-green;

    .text,
    .icon {
      color: $white-color;
      transition: 0.1s;
    }
  }

  .icon {
    font-size: 2rem;
    margin-right: 6px;
  }
}

// common image

.common-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

// common title home-page

.common-title {
  margin: 48px 0 8px 0;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 36px;

  @include mobile {
    margin: 24px 0 8px 0;
  }
}

.custom-input {
  .ant-input-affix-wrapper-focused {
    outline: none;
    box-shadow: none;
    border-color: transparent;
  }

  .ant-input-affix-wrapper {
    outline: none;

    &:hover {
      border-color: transparent;
    }
  }

  .ant-input-group-addon {
    left: 0 !important;
    width: 80px;
    button {
      position: relative;
      font-weight: 500;
      background: $green-color;
      border: none;
      outline: none;
      width: 100%;
      color: $black-color;

      &:hover {
        background: $hover-green;
        color: $white-color;
      }
    }
  }
}

// nút view all product
.view-all {
  display: flex;
  justify-content: center;

  .text {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 220px;
    background: $black-color;
    padding: 12px 34px;
    color: $white-color;
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 600;
    border: 1px solid transparent;
    border-radius: 10px;
    transition: ease-in 0.3s;

    &:hover {
      color: $black-color;
      background: $white-color;
      border: 1px solid $black-color;
    }

    @include mobile {
      width: 160px;
      padding: 8px 26px;
    }
  }
}

// modal product
.ant-modal-wrap {
  .modal-product {
    top: 0;
    width: 900px !important;
  }
}

// nút login register

.btn-auth {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  text-transform: uppercase;
  font-size: 2rem;
  background: #13283f;
  color: $white-color;
  margin-top: 24px;
  text-align: center;
  cursor: pointer;

  span {
    padding: 10px 0;
  }

  &:hover {
    background: #254d7a;
  }
}

// login register

.container-auth {
  width: 500px;
  margin: 0 auto;
  background: #f9f9f9;
  padding: 60px 40px;
  .title {
    text-align: center;
    margin-bottom: 30px;
    font-size: 3rem;
  }
  @include mobile {
    width: 100%;
    padding: 40px 20px;
  }
}

// common auth
.auth {
  margin: 20px 0;
  @include mobile {
    margin: 0;
  }
}

.ant-select:not(.ant-select-customize-input) .ant-select-selector,
.ant-input,
.ant-btn-primary,
.ant-input-affix-wrapper {
  border-radius: 6px;
}

// admin

.ant-layout {
  flex: inherit;
}

.ant-spin-nested-loading > div > .ant-spin {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ant-tabs-tab {
  font-size: 1.6rem;
}

.ant-picker {
  width: 100%;
  border-radius: 6px;
}

.ant-btn-primary[disabled] {
  background-color: #038fde !important;
  border-color: #038fde !important;
  color: $white-color;
  opacity: 0.8;

  &:hover {
    background-color: #038fde !important;
    border-color: #038fde !important;
    color: $white-color;
  }
}

//admin common
.section-common {
  width: 100%;
  background: $bg-dashboard;

  .common-pagination-cus {
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .common-layout-content-cus {
    height: calc(100vh - 65px - 65px);

    .common-content-wrap {
      .common-content {
        padding: 32px 32px 0 32px;
      }
    }
  }
}

.common-row-cus {
  .common-form-cus {
    display: flex;
    justify-content: space-between;
  }
}

.common-content-table {
  .common-icon-edit {
    cursor: pointer;
    color: $blue-color;
  }
  .common-icon-delete {
    color: rgb(255, 77, 79);
  }
}
