$primary-color: #12283e;
$price-color: #569d1b;
$black-color: #000;
$white-color: #fff;
$green-color: #78e723;
$hover-color: #6bd918;
$text-color: rgba(0, 0, 0, 0.87);
$policy-color: #ffe178;
$text-category: #13283f;
$blue-color: #1890ff;

$bg-dashboard: #f5f5f5;
