$bg-header: #12283e;
$black-color: #000;
$white-color: #fff;
$green-color: #78e723;
$hover-green: #6bd918;
$text-category: #13283f;
$blue-color: #1890ff;
$bg-dashboard: #f5f5f5;
$red-color: #ff0000;
$root-price: #fdaa63;
$gray-color: #333f48;
