@import "../../../../styles/variable.module.scss";

.row-cus {
  display: flex;
  .form-cus {
    display: flex;
    justify-content: space-between;
  }
}

.pagination-cus {
  position: absolute;
  bottom: 10px;
  left: 50%;
}

.content-table {
  .icon-edit {
    cursor: pointer;
    color: $blue-color;
  }
  .icon-delete {
    color: rgb(255, 77, 79);
  }
}
