@import "../../styles/variable.module.scss";

.home-page {
  .list-product {
    .new-arrival {
      height: 100%;
      margin-right: 20px;
      transition: ease-in 0.4s;
      &:hover {
        opacity: 0.8;
      }
      a {
        display: block;
      }
    }
  }
}
