@import "../../../../styles/variable.module.scss";
@import "../../../../styles/mixin.module.scss";

.navigation {
  .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .list-item {
      display: flex;
      list-style: none;
      margin: 0;
      padding: 16px 0;
      position: relative;

      .item {
        &:hover {
          .block-category {
            display: flex;
          }
        }
        &::after {
          content: "";
          position: absolute;
          display: block;
          width: 100px;
          height: 30px;
          bottom: -10px;
          background: transparent;
        }
        .group-category {
          font-size: 1.4rem;
          text-transform: uppercase;
          color: $white-color;
          &:hover {
            color: $hover-green;
          }
        }

        display: flex;
        align-items: center;
        padding: 0 16px 0 0;

        .icon {
          width: 12px;
          height: 12px;
          color: $white-color;
          opacity: 0.8;
          margin-left: 6px;
        }

        .block-category {
          display: none;
          position: absolute;
          background: $white-color;
          width: 1200px;
          top: calc(100% + 10px);
          left: 0;
          z-index: 10;
          padding: 30px 16px;

          .wrap-children {
            padding: 0 20px 0 0;
            flex: 1;
            .category {
              display: block;
              text-transform: uppercase;
              color: $text-category;
              border-bottom: 2px solid $text-category;
            }

            .child-category {
              list-style: none;
              padding: 0;
              margin-top: 20px;
              li {
                padding: 8px 0;
                a {
                  display: block;
                  color: $black-color;

                  &:hover {
                    color: $green-color;
                  }
                }
              }
            }
          }

          .banner {
            width: 40%;
            img {
              width: 100%;
              object-fit: cover;
              margin: 6px 0;
            }
          }
        }
      }
    }
  }
}
